body{
    background-color: rgb(24, 195, 92);
}
.contenedor{
    display: flex;
    justify-content: center;
}
.carta{
    position: relative;
    float: left;
    width: 63mm;
    height: 88mm;
    background-color: rgb(255, 255, 255);
    border: 1px black;

    border-radius: 15px;


}
.OC{
    overflow: hidden;
    width: 100%;
}










































.love{
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    background: red;
}
.love:before,
.love:after{
    content: "";
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: red;
    position:absolute;

}
.love {
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    position: relative;
    top: 10rem;
    left: 10rem;
}
.love:before{
    top: 0;
    left: -25px;
}
.love:after{
    top: -25px;
}