span{
    margin-top: 150px;
    font-size: 130px;
    margin-left: 150px;
}
span1{
    
    font-size: 90px;
    margin-left: 150px;
}

.contenedor{
    display: flex;
    justify-content: center;
 
}

.vspc{
    background-color: transparent;
    width: 250px;
    height: 250px;

    margin-left: 1px;
    margin-right: 1px;
}
.vsjp{
    background-color: transparent;
    width: 250px;
    height: 250px;
    border: 0;
    margin-left: 1px;
    margin-right: 1px;
}