span{
    display: flex;
    justify-content: center;
}
.tigeras {
    
    width: 225px;
    height: 225px;
    background-color: transparent;
    border: 1px;
 
}
.contenedor{
    display: flex;
    justify-content: center;
    border: 1cm;
}
.conta{
    width: 10px;
    height: 50px;
    border: #0dddd6 1px;
}
.piedra {
    margin:  auto;

    width: 225px;
    height: 225px;
    background-color: transparent;
    border: 1px;
    justify-content: center;
    
}
.papel {
    margin:  auto;

    width: 225px;
    height: 225px;
    background-color:transparent;
    border: 1px;
    justify-content: center;
    
}
.borderColorG{
    border-style: solid;
    border-color: #13F900;
    border-width: 10px;
}
.borderColorP{
    border-style: solid;
    border-color: #8f460e;
    border-width: 10px;
}
.borderColorE{
    border-style: solid;
    border-color: #0dddd6;
    border-width: 10px;
}